extends ../layouts/application.pug

block content
    h1(class="display-4 fw-bold mt-4")=t('views.statuses.title')
    a.btn.btn-info(href=route('newStatus') role='button')=t('views.statuses.create.title')
    table.table.table-striped
        thead
            tr
                th= t('views.statuses.table.id')
                th= t('views.statuses.table.name')
                th= t('views.statuses.table.date')
        tbody
            each status in statuses
                tr
                    td= status.id
                    td= status.name
                    td= status.createdAt

