extends ../layouts/application.pug

block content
    h1(class="display-4 fw-bold mt-4")=t('layouts.application.tasks')
    a.btn.btn-info(href=route('newTask') role='button')=t('views.tasks.create')
    table.table.table-striped
        thead
            tr
                th= t('views.tasks.table.id')
                th= t('views.tasks.table.name')
                th= t('views.tasks.table.status')
                th= t('views.tasks.table.author')
                th= t('views.tasks.table.executor')
                th= t('views.tasks.table.date')
        tbody
            each task in tasks
                tr
                    td= task.id
                    td
                        a.link-primary(href=route('showTask', { id: task.id })) #{task.name}
                    td= task.status.name
                    td #{task.creator.firstName} #{task.creator.lastName}
                    td
                        if(task.executor)
                         | #{task.executor.firstName} #{task.executor.lastName}
                    td= task.createdAt
                    td
                        .btn-group(role='group' aria-label='Basic mixed styles example')
                            a.btn.btn-primary(href=route('editTaskPage', { id: task.id }) role='button') Edit
                            +buttonTo(route('deleteTask', { id: task.id }), 'delete')(class="btn btn-danger" value='Delete')

